<?xml version='1.0.5' encoding='utf-8'?>
<widget id="br.com.meucarroturbo.app" version="1.0.5" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Meu Carro Turbo</name>
    <description>
        Primeira versão para listagem dos anuncios
    </description>
    <author email="freedfelipe@gmail.com" href="http://meucarroturbo.com.br">
        Felipe Albert
    </author>
    
    <access origin="*" />
    
    <icon src="images/icon.png" />
    
    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    
    <gap:plugin name="org.apache.cordova.dialogs" version="0.2.6" />
    <gap:plugin name="org.apache.cordova.camera" version="0.2.9" />
    
</widget>